.main-slide {
  padding-top: 50px;
  background-color: rgb(8, 8, 8);
}
.carousel .slider-wrapper {
  width: 50%;
}
.carousel .thumb {
  width: 5%;
  height: 50px;
}
.carousel {
  text-align: center;
}
